.settings/
microservice-api-gateway/.settings/
microservice-eruaka/.settings/

.classpath
microservice-api-gateway/.classpath
microservice-eruaka/.classpath


.project
microservice-api-gateway/.project
microservice-eruaka/.project

microservice.iml
microservice-api-gateway/microservice-api-gateway.iml
microservice-eruaka/microservice-eruaka.iml


README.md
.idea/

bin/
.externalToolBuilders/org.eclipse.jdt.core.javabuilder.launch

*.log
